<!DOCTYPE html>
<html>
<head>
  <title>DPN REST API</title>
  <%= stylesheet_link_tag    "dpn_swagger_engine/application", media: "all" %>
  <%= javascript_include_tag "dpn_swagger_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
